@import 'colors.css';

.App {
  text-align: center;
  background-color: var(--background-color);
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 5vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin); 
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App-header button {
  margin-right: 5px;  
}

.user-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;  
}

.App-link {
  color: #61dafb;
}

.shoe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.shoe-card {
  position: relative;
  display: flex;          
  flex-direction: column; 

}

.image-container {
  position: relative;
  overflow: hidden;
  padding-top: 100%; 
}

.image-container img {
  mix-blend-mode: darken;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;     
  object-position: bottom;  
}

.shoe-card img {
  width: 100%;
  object-fit: contain;     
  flex: 1 0 auto;    
  object-position: bottom;   
 
}

.shoe-info {
  position: absolute;
  bottom: 0;           
  left: 0;
  right: 0;
  transform: translateY(55%); 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: transform 0.3s ease; 
  width: 100%;        
  padding: 5px 0;      
}


.shoe-card:hover .shoe-info {
  opacity: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: rgb(255, 255, 255);
  padding: 20px;
  width: 90%;
  max-width: 800px; 
  max-height: 90%;
  overflow-y: auto;
  display: flex;
  flex-direction: column; 
  position: relative;
}
.search-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.search-modal-content {
  background: white;
  padding: 20px;
  width: 90%;
  height: 90%;
  max-width: 1200px; 
  max-height: 90%; 
  overflow-y: auto;
  display: flex;
  flex-direction: column; 
}

.search-modal-content .shoe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.search-modal-content .shoe-card .image-container {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
  width: 100%;
  height: auto;
}

.search-modal-content .shoe-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.search-modal-text {
  text-align: left; 
}

.search-modal-gif {
  max-width: 100%; 
  max-height: 100%;
  width: auto; 
  height: auto; 
  object-fit: contain; 
  margin: auto; 
}

.search-modal-gif img {
  max-width: 100%; 
  max-height: 60vh; 
  object-fit: contain; 
}


.modal-text {
  text-align: left;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 15px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.modal-text h4 {
  margin-top: 0;
}

.modal-text p {
  margin: 8px 0;
}

.modal-text a {
  color: #007bff;
  text-decoration: none;
}

.modal-text a:hover {
  text-decoration: underline;
}

.modal-gif {
  max-width: 100%; 
  max-height: 100%; 
  width: auto; 
  height: auto; 
  object-fit: contain; 
  margin: auto; 
}

.modal-gif img {
  max-width: 100%; 
  max-height: 60vh; 
  object-fit: contain; 
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--third-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #080d12;
}

.selected-button {
  background-color: rgb(72, 72, 154); 
}

[data-rbd-draggable-context-id] {
  display: contents;
}

.shoe-card .image-container {
  position: relative;
  height: 0; 
}

.shoe-card .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image-container:hover + .favourite-heart {
  display: block;
}

.favourite-heart:hover  {
  display: block;
}
.favourite-heart {
  z-index: 2;
  position: absolute;
  display: none;
  top: 40px;
  right: 0px;
}


.main-grid {
  margin-top: -10px; 
}

.main-grid  .shoe-card:not(:has(.favorite-gif-active)) img.gif {
  display: none;  
}

.main-grid .shoe-card:not(:has(.favorite-gif-active)):hover img.gif {
  display: block;  
}

.main-grid .shoe-card:not(:has(.favorite-gif-active)):hover img:not(.gif) {
  display: none; 
}

.main-grid  .shoe-card:has(.favorite-gif-active) img:not(.gif) {
  display: none;  
}



.translucent-overlay {
  position: absolute;

  left:0;
  right: 0;
  top:15px;
  bottom: 0;
  z-index: 10;
 
  background: rgba(255,255 , 255, 0.8);
}




.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px; 
  background-color: var(--secondary-color); 
  color: white;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  user-select: none;
}
.navbar-brand {
  font-size: 28px; 
  font-weight: bold;
  color: var(--primary-color);
  user-select: none;
}

.user-dropdown {
  position: relative;
  cursor: pointer;
  font-size: 22px;
  color: var(--primary-color); 
  font-weight: bold;
  margin: 0 20px;
  user-select: none;
}

.user-dropdown::after {
  content: '▼';
  margin-left: 5px;
  font-size: 20px; 
}

.user-dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  min-width: 200px; 
  border-radius: 5px; 
}

.user-dropdown-content a {
  color: black;
  padding: 12px 20px; 
  text-decoration: none;
  display: block;
}

.user-dropdown-content a:hover {
  background-color: #ddd;
}

.user-dropdown:hover .user-dropdown-content {
  display: block;
}


.action-buttons {
  display: flex;
  flex-direction: column;  
  gap: 20px;
  position: fixed;      
  bottom: 40px;        
  right: 40px;         
  z-index: 1000;        
}

.action-button {
  padding: 10px 15px;
  border: none;
  border-radius: 50%;    
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 60px;           
  height: 60px;           
  display: flex;         
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.action-button.add {
  background-color:var(--primary-color); 
  color: white;
}

.action-button.random {
  background-color:var(--primary-color); 
  color: white;
}

.action-button.favorite {
  background-color:var(--primary-color); 
  color: white;
}

.action-button:hover {
  opacity: 0.9;
}




@media only screen and (max-width: 767px) {
  .shoe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px; 
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}